@font-face {
    font-family: 'Backtothefuture2002';
    src: url('./fonts/Backtothefuture2002-Regular.woff2') format('woff2'),
         url('./fonts/Backtothefuture2002.woff') format('woff'),
         url('./fonts/Backtothefuture2002.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DigitalFont';
    src: url('./fonts/TickingTimebombBB-Italic.woff2') format('woff2'),
         url('./fonts/DigitalFont.woff') format('woff'),
         url('./fonts/DigitalFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.delorean {
    height: 30vh;
    position : absolute;
    right: 0;
    bottom: 160px;
}

.gradient-text{
    font-family: 'Backtothefuture2002', serif;
    font-size: 50px;
    background: linear-gradient(#ff0000, #ff9900, #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
}

body {
    background-image: linear-gradient(to bottom right,black,rgb(24, 24, 121), rgb(62, 52, 120), rgb(24, 24, 121),black);
    background-size: cover; /* Ensures the gradient stretches across the entire page */
    background-attachment: fixed; /* Keeps the gradient in place during scrolling */
    margin: 0;
    height: 100vh; /* Sets body height to 100% of viewport height */
}

.ticker-container {
    overflow: hidden;
    width: 95%;
    text-align: center;
    background-color: black;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin: 0 auto;
    position: relative;
}

.camera-container {
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    
}

video {
    width: 600px;
    height: 400px;
    height: auto;
}

.dashboard-img {
    width: 100vw;             /* Full width of the viewport */
    height: auto;             /* Keeps the aspect ratio */
    position: fixed;          /* Keeps it fixed to the viewport */
    top: 0;
    left: 0;
    z-index: -1;              /* Places it behind other content */
    object-fit: cover;        /* Ensures it covers the entire width */
}

.dashboard {
    overflow: hidden;
    background: linear-gradient(#2e2a2a, #9a9a99, #2e2a2a);
    width: 100%;
    text-align: center;
    position : absolute;
    bottom:0;
    padding: 80px 0;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin: 0 auto;

}

.dashboard-month {
    overflow: hidden;
    width: 110px;
    text-align: center;
    background-color: black;
    padding: 8px 0;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin: 0 auto;
    position: fixed;
}

.dashboard-year{
    overflow: hidden;
    width: 175px;
    text-align: center;
    background-color: black;
    padding: 8px 0;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin: 0 auto;
    position: fixed;
}

.dashboard-2text {
    overflow: hidden;
    width: 80px;
    text-align: center;
    background-color: black;
    padding: 8px 0;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin: 0 auto;
    position: relative;
}

.dashboard-text {
        display: inline-flex;
        white-space: nowrap;
        font-family: 'DigitalFont', Courier, monospace; /* Digital font style */
        font-size: 70px;
        color: red;
        position: relative;
        width: 100%;
        left: 0%;
        bottom: 0px;
}

.month-position {
    position: fixed;
    bottom: 85px;  
    left: 18px;    
    margin: 10px; 
    z-index: 10; 
}

.year-position {
    position: fixed;
    bottom: 85px;  
    left: 335px;    
    margin: 10px; 
    z-index: 10; 
}

.day-position {
    position: fixed;
    bottom: 85px;  
    left: 200px;    
    margin: 10px; 
    z-index: 10; 
}

.hour-position {
    position: fixed;
    bottom: 85px;  
    right: 130px;    
    margin: 10px; 
    z-index: 10; 
}

.minute-position {
    position: fixed;
    bottom: 85px;  
    right: 1px;    
    margin: 10px; 
    z-index: 10; 
}

bottom-

/* Ticker Scrolling Text */
.ticker {
    display: inline-flex;
    white-space: nowrap;
    animation: scroll 65s linear infinite;
    font-family: 'DigitalFont', Courier, monospace; /* Digital font style */
    font-size: 1.5em;
    color: red;
    position: relative;
}

/* Space between items */
.ticker span {
    padding: 0 2em;
}

/* Keyframes for Scrolling Animation */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.hack-to-the-future-container {
    overflow: hidden;
    width: 95%;
    text-align: center;
    background-color: black;
    padding: 10px 0;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    margin: 0 auto;
    position: relative;
}